@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans+Condensed:300|Roboto|Roboto+Condensed');

body, table, div, td, th {font-family: 'Roboto Condensed', sans-serif;}
.result tr td {border: 1px solid #EEE;}

.table_without_borders {border: none}

.d-card {border: 2px solid #EEE;}