@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans+Condensed:300|Roboto|Roboto+Condensed');

body, table, div, td, th {font-family: 'Roboto Condensed', sans-serif;}
.result tr td {border: 1px solid #EEE;}

.table_without_borders {border: none}

.d-card {border: 2px solid #EEE;}

.notice, .alert {padding-left: 15px; padding-right: 15px;}

body {display: flex; min-height: 100vh; flex-direction: column;}
main {flex: 1 0 auto;}