<div style="font-family: Times; font-size: 16pt;">
  <h2>Ивановский клуб Маджонга &mdash; Даматен</h2>
  <p>Для начала, хотелось бы рассказать</p>
  <h2>Hello</h2>
  <p>Lorem ipsum</p>
  <h2>Hello</h2>
  <p>Lorem ipsum</p>
  <h2>Hello</h2>
  <p>Lorem ipsum</p>
  <h2>Hello</h2>
  <p>Lorem ipsum</p>
  <h2>Hello</h2>
  <p>Lorem ipsum</p>
  <h2>Hello</h2>
  <p>Lorem ipsum</p>
</div>