<h4>Добавить нового игрока</h4>
<blockquote>
  Добавляя нового игрока в базу данных помните, что его уже не удалить, потому как это нарушит целостность БД.
</blockquote>

<%= render 'form', player: @player %>