<h3><%= @player.name %></h3>
<p>График изменение рейтинга</p>

<canvas id="ratingStatistics" width="600" height="200"></canvas>
<script>
var ctx = document.getElementById("ratingStatistics");
var ratingStatistics = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ["Стартовые очки",
          <% @ranks.each do |rank| %>
            "<%= rank.created_at.strftime("%Y.%m.%d") %>",
          <% end %>
        ],
        datasets: [{
            label: '<%= @player.name %>',
            data: [1500,
              <% @ranks.each do |rank| %>
                <%= rank.rating_change %>,
              <% end %>
            ],
            backgroundColor: 'rgba(0,164,164,0.3)',
            borderColor: 'rgba(0,164,164,1)',
            borderWidth: 1,
            pointHitRadius: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:false
                }
            }]
        }
    }
});
</script>