  <div class="row">
    <div class="col s2">
      <%= name %>
    </div>
    <div class="col s3">
      <input type="numeric" name="rule[data][<%= romaji_name %>]">
    </div>
    <div class="col s6">
      <%= description %>
    </div>
  </div>