      <footer class="page-footer light-blue darken-4">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Ивановский клуб Риичи маджонга</h5>
              <p class="grey-text text-lighten-4">Днем рождения маджонг-клуба Даматен можно считать 7 августа 2014. Периодически мы проводим турниры, а так же участвуем в различных региональных эвентах. Всегда рады новым людям и готовы приложить все усилия, чтобы научить вас этой увлекательной игре.</p>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Наш клуб где-то еще</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="https://vk.com/ivanovo_damaten">Мы во Вконтакте</a></li>
                <!--<li><a class="grey-text text-lighten-3" href="http://t.me/damaten_club">Телеграм канал</a></li>-->
                <li><a class="grey-text text-lighten-3" href="https://mahjong.click/ru/clubs/riichi/damaten/">Маджонг портал</a></li>
                <li><%= link_to "Доступ к JSON API", api_about_path, class: "grey-text text-lighten-3" %></li>
                <li><%= link_to "Рейтинг", ranking_path, class: "grey-text text-lighten-3" %></li>


              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2014 &mdash; <%= Time.new.year %> Damaten Club
          </div>
        </div>
      </footer>
  </body>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-21822408-6"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/materialize/js/materialize.js"></script>
    <script>
      // Google Analytics
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-21822408-6');

      // Result Calc function
      function result_sum() {

        var r_sum = 0;

        var r_east   = parseInt(document.getElementById('east_player_score').value);
        var r_south  = parseInt(document.getElementById('south_player_score').value);
        var r_west   = parseInt(document.getElementById('west_player_score').value);
        var r_north  = parseInt(document.getElementById('north_player_score').value);

        if (isNaN(r_east) == true) r_east = 0;
        if (isNaN(r_south) == true) r_south = 0;
        if (isNaN(r_west) == true) r_west = 0;
        if (isNaN(r_north) == true) r_north = 0;

        var r_sum = r_east + r_south + r_west + r_north;

        document.getElementById('result_SUM').innerHTML = r_sum;
      }

      // Mobile sidebar
      M.AutoInit();
    </script></html>