      <footer class="page-footer light-blue darken-4">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Ивановский клуб Риичи маджонга</h5>
              <p class="grey-text text-lighten-4">Днем рождения маджонг-клуба Даматен можно считать 7 августа 2014. Периодически мы проводим турниры, а так же участвуем в различных региональных эвентах. Всегда рады новым людям и готовы приложить все усилия, чтобы научить вас этой увлекательной игре.</p>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Наш клуб где-то еще</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="https://vk.com/ivanovo_damaten">Мы во Вконтакте</a></li>
                <li><a class="grey-text text-lighten-3" href="http://t.me/damaten_club">Телеграм канал</a></li>
                <li><a class="grey-text text-lighten-3" href="https://mahjong.click/ru/clubs/riichi/damaten/">Маджонг портал</a></li>

              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2014 &mdash; <%= Time.new.year %>, Damaten Club
          <!--<a class="grey-text text-lighten-4 right" href="#!">More Links</a>-->
          </div>
        </div>
      </footer>
  </body>
</html>